doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no")
        title Counting Down - SAP
        link(rel="stylesheet", href=app.get("assets path") + "/cd/res/cd.css")
    body
        script(src=app.get("assets path") + "/vendor/vendor.js")
        script(src=app.get("assets path") + "/cd/cd.js")
